include:
  - wazuh-docker/single-node/docker-compose.yml

# docker-compose.override.yml will disable attacching to the wazuh.dashboard container
# because it's way too verbose and makes following other logs too difficult.

services:
  setup-wazuh:
    build: setup-wazuh
    environment:
      # These are the default credentials that come with Wazuh-docker 4.12.0,
      # our chosen version for Wazuh and its agent.
      # If you want to change these credentials, you must also change them
      # in ./wazuh-docker/single-node/docker-compose.yml.
      - WAZUH_MANAGER=wazuh.manager
      - WAZUH_API_USER=wazuh-wui
      - WAZUH_API_PASSWORD=MyS3cr37P450r.*-
      - WAZUH_INDEXER=wazuh.indexer
      - WAZUH_INDEXER_USER=admin
      - WAZUH_INDEXER_PASSWORD=SecretPassword

  web-app-with-wazuh:
    build:
      context: web-application-with-wazuh
      args:
        - WAZUH_MANAGER=wazuh.manager
        - WAZUH_AGENT_NAME=agente47-webserver-wazuh
    cap_add:
      # Needed for Suricata
      - NET_ADMIN
      - NET_RAW
    ports:
      - 80:80
    depends_on:
      setup-wazuh:
        condition: service_completed_successfully

  honeypot:
    build: honeypot
    environment:
      - WAZUH_MANAGER=wazuh.manager
    depends_on:
      setup-wazuh:
        condition: service_completed_successfully
    # We do not expose ports: we will access directly
    # the container's IP, so we can make it listen
    # on any ports (80, 443, etc.) without conflicts.
    # The IP is printed by the entrypoint
    # when the container starts.
  
  industrial-honeypot:
    build: industrial-honeypot
    environment:
      - SYSLOG_SERVER=wazuh.manager
    depends_on:
      setup-wazuh:
        condition: service_completed_successfully
    # Same as honeypot, we don't expose ports. We will
    # access services through the container's IP.

  test-services:
    build: test
    environment:
      # Container names (aka hostnames) to be tested
      - HONEYPOT=honeypot
      - INDUSTRIAL_HONEYPOT=industrial-honeypot
      - WEBAPP=web-app-with-wazuh
      - SLEEP=60
      - REPLAY_PACKETS_PER_SECOND=50
    depends_on:
      - honeypot
      - industrial-honeypot
      - web-app-with-wazuh
    develop:
      watch:
        - action: sync
          path: ./test
          target: /tests
